<% include partials/header %>

<h1>Logg inn</h1>
<form action="/login" method="POST">
	<label>Brukernavn:</label>
	<input type="test" name="username" placeholder="Brukernavn"><br>
	<label>Passord</label>
	<input type="password" name="password"><br>
	<input type="submit" value="Logg inn">
</form>

<% include partials/footer %>