<h1>Registrer deg</h1>

<form action="/register" method="POST">
	<label>Brukernavn</label>
	<input type="text" name="username" placeholder="brukernavn"><br>
	<label>Passord</label>
	<input type="password" name="password" placeholder="passord"><br>
	<input type="submit" value="Send">
</form>