html, body {
	background: teal;
	height: auto !important;
	min-height: 100%;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
	background: cyan;
}

.well {
	background: cyan;
}

.thumbnail .caption-full {
	padding: 9px;
}