<% include partials/header %>

<div class="container">
	<h1 style="text-align: center;">Opprett et nytt campingsted</h1>
	<div class="row">
		<div style="width: 30%; margin: 30px auto;">
			<form method="POST" action="/campgrounds">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Navn" name="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="URL til bilde" name="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Beskrivelse av bildet" name="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Send</button>
				</div>
			</form>
			<a href="/campgrounds">Tilbake</a>
		</div>
		
	</div>
	
</div>
<% include partials/footer %>