<% include partials/header %>
<h1>Registrer bruker</h1>

<form action="/register" method="POST">
	<label>Brukernavn: </label> <input type="text" name="username" placeholder="Brukernavn">
	<br>
	<label>Passord   : </label> <input type="password" name="password"> <br>
	<input type="submit" value="Registrer" />
</form>

<% include partials/footer %>