td {
	width: 100px;
	height: 100px;
}

.vert {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horiz {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

table {
	margin: auto;
}

/*
Dette var mitt løsningsforslag
tr:nth-of-type(1) td:nth-of-type(2) {
	border-left: solid;
	border-right: solid;
}

tr:nth-of-type(2) td:nth-of-type(1) {
	border-bottom: solid;
	border-top: solid;
}

tr:nth-of-type(2) td:nth-of-type(2) {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
}

tr:nth-of-type(2) td:nth-of-type(3) {
	border-bottom: solid;
	border-top: solid;
}

tr:nth-of-type(3) td:nth-of-type(2) {
	border-left: solid;
	border-right: solid;
}
*/

h1 {
	font-size: 5em;
	text-align: center; /*Ikke del av mitt forslag*/
}