<% include partials/header %>
<h1>Landingsside</h1>
<style type="text/css">
	html, body {
	background: teal;
	height: 100% !important;
	min-height: 100%;
}
</style>
<p>Velkommen til YelpCamp (beklager dårlig oversettelse…)</p>

<a href="/campgrounds">Vis alle campingsteder</a>

<% include partials/footer %>