<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<title>Jobber</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
		<div class="container">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="/jobber/">
        			Jobber
      			</a>
    		</div>
    		
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    			<ul class="nav navbar-nav">
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    						Søknader
    						<span class="caret"></span>
    					</a>
    					<ul class="dropdown-menu" role="menu">
    						<li>
    							<a href="/jobb" class="dropdown-item">Vis søknader</a>
    						</li>
							<li>
								<a href="/jobb/newjob" class="dropdown-item">Ny søknad</a>
							</li>    							
   						</ul>
    				</li>
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    						Steder
    						<span class="caret"></span>
    					</a>
    					<ul class="dropdown-menu" role="menu">
    						<li>
    							<a href="/by" class="dropdown-item">Vis steder</a>
    						</li>
							<li>
								<a href="/by/nyby" class="dropdown-item">Nytt sted</a>
							</li>    							
   						</ul>
    				</li>
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    						Land
    						<span class="caret"></span>
    					</a>
    					<ul class="dropdown-menu" role="menu">
    						<li>
    							<a href="/land" class="dropdown-item">Vis land</a>
    						</li>
							<li>
								<a href="/land/nyttland" class="dropdown-item">Nytt land</a>
							</li>    							
   						</ul>
    				</li>
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    						Statuser
    						<span class="caret"></span>
    					</a>
    					<ul class="dropdown-menu" role="menu">
    						<li>
    							<a href="/status" class="dropdown-item">Vis statuser</a>
    						</li>
							<li>
								<a href="/status/nystatus" class="dropdown-item">Ny status</a>
							</li>    							
   						</ul>
    				</li>
    			</ul>
    		</div>
  		</div>
		</nav>
