<% include ./partials/header %>
<div class="ui huge header">Ny status</div>
<p>Her kan du sette inn en ny status i databasen.</p>
<form action="/status" method="POST" class="ui form">
	<div class="item">
		<label>Status</label>
		<input type="text" name="status">
	</div>
	<input type="submit" value="Send" class="ui positive big button" name="">
	<a href="/status" class="ui negative big button">Avbryt</a>
</form>
<%include ./partials/footer%>