@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kunder</h2>
@if (!Model.Any())
{
    <p>Vi har ikke registert noen kunder ennå.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Kunde</th>
                <th>Medlemstype</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.name, "Edit", "Customers", new { id = customer.id }, null)</td>
                    <td>@customer.membershipType.membershipName</td>
                </tr>
            }
        </tbody>
    </table>
}