@model Vidly.Models.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.name</h2>

<!-- Hvis ingen har leid filmen, viser vi en paragraf som gjør oppmerksom på det.-->
@if (Model.Customers.Count == 0)
{
    <p>Ingen har leid denne filmen ennå.</p>
}
else
{
    <ul>
        @foreach (Vidly.Models.Customer c in Model.Customers)
        {
            <li>@c.name</li>
        }
    </ul>
}
