<% include partials/header %>
<h1>Du forelsket deg i <%= thingVar %></h1>
<% /* %>
Merk at vi i den neste kodelinja ikke bruker
likhetstegn: "<% %>" istedenfor "<%= %>".
Dette fordi "<%= %>" returnerer en verdi i
HTML-filen (f. eks. <%= 5 + 5 %> blir til 10), mens man med <% %> kan kjøre løkker og logiske tester.
<% */ %>
<% if(thingVar.toLowerCase() === "rusty"){ %>
	<p>Fryktelig valg! Hva er så bra med en hund?
<%}else{%><p>Godt valg!</p>
<%}%> 

<p>PS: Dette er filen love.ejs!</p>

<% include partials/footer %>