<h1>Liste over venner</h1>

<% friends.forEach(function(friend){%>
	<li><%= friend %></li>
<%});%>

<form action="/addfriend" method="POST">
	<input type="text" name="newfriend" placeholder="Skriv inn et nytt navn">
	<button>Jeg fikk en ny venn!</button>
</form>