<h1>Resultatside</h1>

<ol>
	<% data["Search"].forEach(function(movie) { %>
		<li>
			<strong><%= movie["Title"] %></strong> - <%= movie["Year"]%>
		</li>
	<% }) %>
</ol>
<button onclick="location.href='/'" type="button">Søk igjen</button>